# pixi environments
.pixi/
!.pixi/config.toml
pixi.lock

# Quarto
.quarto/

# Quarto outputs
_site/
_slides/
_beamer/
_book/
/.quarto/

# Old data
_archives/

# Python
__pycache__/
.mypy_cache/

# Notebooks
.ipynb_checkpoints/
et_copy/
out/

**/*.quarto_ipynb
